.hero-title {
  text-align: center;
  font-size: 36px;
  color:#3f51b5; 
  margin-bottom: 20px;
}
.heroes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col-1-4 {
  flex-basis: 25%;
  margin-bottom: 20px;
  text-align: center;
}
.hero-card {
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.hero-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.hero-image img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.mat-card-title {
  font-size: 20px;
  color:#3f51b5; 
  margin: 15px 0;
}