/* You can add global styles to this file, and also import other style files */

<div class="btn-group">
<button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
  Large button
</button>
<ul class="dropdown-menu">
<style>
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
  z-index: 1500;
}
</style>
</ul>
</div>
<div class="btn-group">
<button class="btn btn-secondary btn-lg" type="button">
  Large split button
</button>
<button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
  <span class="visually-hidden">LISTADO DE PRENDAS</span>
</button>
<ul class="dropdown-menu">
  ...
</ul>
</div>
<ul class="list-group">
  <li class="list-group-item">CHAMARRA NEGRA</li>
  <li class="list-group-item">A BYB DAMA</li>
  <li class="list-group-item">A PILOTO</li>
  <li class="list-group-item">A CHEVIÑON</li>
  <li class="list-group-item">A MOTEO</li>
  <li class="list-group-item">A CHAMARRA MULTICOLOR</li>
  <li class="list-group-item">A CORREAS</li>
  <li class="list-group-item">A BILLETERAS</li>
</ul>

<img src="https://d3ugyf2ht6aenh.cloudfront.net/stores/008/632/products/dsc_1234-ret11-2c1acb8102014c0b6814801692601436-640-0.jpg" class="img-thumbnail" alt="260">

    <div class="container overflow-hidden">
  <div class="row gy-5">
    <div class="col-6">
      <div class="p-3 border bg-light">CHAQUETAS</div>
    </div>
    <div class="col-6">
      <div class="p-3 border bg-light">PANTALONES</div>
    </div>
    <div class="col-6">
      <div class="p-3 border bg-light">CHALECOS</div>
    </div>
    <div class="col-6">
      <div class="p-3 border bg-light">ACCESORIOS</div>
    </div>
  </div>
</div>


<div class="card" style="width: 18rem;">
  <img src="https://img.ws.mms.shopee.com.co/64078b935ba13f9735273d4c19ea04f4" class="card-img-top" alt="260">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href= class="btn btn-primary">Go somewhere</a>
  </div>
</div>