<div class="page-container">
  <div *ngIf="hero" class="hero-details">
  <mat-card class="hero-card">
    <mat-card-header>
      <mat-card-title>{{ hero.name | uppercase }} Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="hero-info">
        <div><span>id:</span> {{ hero.id }}</div>
        <div><span></span> {{ hero.imagen }}</div>
        <mat-form-field class="input-container">
          <mat-label>Name:</mat-label>
          <input matInput [(ngModel)]="hero.name" placeholder="Name" />
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="save()">Save Information</button>
    </mat-card-actions>
  </mat-card>
</div>