<mat-toolbar>
    <h1>{{ title }}</h1>
    <nav mat-tab-nav-bar>
      <a mat-tab-link routerLink="/dashboard">Dashboard</a>
      <a mat-tab-link routerLink="/heroes">Heroes</a>
    </nav>
  </mat-toolbar>
  <router-outlet></router-outlet>
  <app-messages></app-messages>

  <table class="table">
    <thead>
    <tr>
    <th scope="col">first</th>
    <th scope="col">last</th>
    <th scope="col">Handlet</th>
    <th scope="col">first</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <th>mark</th>
      <th>Otto</th>
      <th>@mdo</th>
      </tr>
      <tr>
        <th scope="row">2</th>
        <th>jacob</th>
        <th>Otto</th>
        <th>@mdo</th>
        </tr>
        <tr>
          <th scope="row">3</th>
          <th>jacob</th>
          <th>Otto</th>
          <th>@mdo</th>
          </tr>
        </tbody>
        </table>