<mat-toolbar>
    <h1>{{ title }}</h1>
    <nav mat-tab-nav-bar>
      <a mat-tab-link routerLink="/dashboard">Dashboard</a>
      <a mat-tab-link routerLink="/heroes">Heroes</a>
    </nav>
  </mat-toolbar>
  <router-outlet></router-outlet>
  <app-messages></app-messages>

  <table class="table">
    <thead>
    <tr>
    <th scope="col">first</th>
    <th scope="col">last</th>
    <th scope="col">Handlet</th>
    <th scope="col">first</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <th>Vision</th>
      <th>Thor</th>
      <th>Hulk</th>
      </tr>
      <tr>
        <th scope="row">2</th>
        <th>Dr. Strange</th>
        <th>Spiderman</th>
        <th>Iron Man</th>
        </tr>
        <tr>
          <th scope="row">3</th>
          <th>Capitan America</th>
          <th>Ant Man</th>
          <th>Black Widow</th>
          </tr>
        </tbody>
        </table>